<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2024 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>

    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor id="gbase8a.source.view" class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aSourceViewEditor"
                label="%editor.source.name" description="%editor.source.name" icon="#sql_text"
                position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder"
                embeddable="false">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aCatalog"/>
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aView"/>
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTrigger"/>
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aEvent"/>
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aProcedure"/>
        </editor>
        <!--   <editor id="gbase8a.package.body.view" class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aPackageBodyEditor"
                   label="%editor.package.body.name" description="%editor.package.body.description" icon="#sql_text" position="additions_middle"
                   contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder" embeddable="false">
               <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aPackage"/>
           </editor>-->
        <editor id="gbase8a.source.ddl" class="org.jkiss.dbeaver.ui.editors.sql.SQLSourceViewer"
                label="DDL" description="DDL" icon="#sql_text" position="additions_middle"
                contributor="org.jkiss.dbeaver.ui.editors.sql.SQLEditorContributorNested" type="folder">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTable"/>
        </editor>
        <editor
                id="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aUserEditorGeneral"
                class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aUserEditorGeneral"
                objectType="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aUser"
                main="true"
                label="%editor.general.name"
                description="General user settings"
                icon="#user">
        </editor>
        <editor
                id="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aUserEditorPrivileges"
                class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aUserEditorPrivileges"
                objectType="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aUser"
                main="false"
                label="%editor.schema_privileges.name"
                description="%editor.schema_privileges.description"
                position="additions_start"
                icon="#user">
        </editor>

        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aCatalogConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aCatalog"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aConstraintConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTableConstraint"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aForeignKeyConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTableForeignKey"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aIndexConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTableIndex"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aFullIndexConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTableFullIndex"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aProcedureConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aProcedure"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aTriggerConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aTrigger"/>
        </configurator>
        <configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aEventConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aEvent"/>
        </configurator>
        <!--<configurator class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aSequenceConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aSequence"/>
        </configurator>-->
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <!-- User manager is declared in UI module because it has custom UI -->
        <manager class="org.jkiss.dbeaver.ext.gbase8a.ui.config.GBase8aUserManager"
                 objectType="org.jkiss.dbeaver.ext.gbase8a.model.GBase8aUser"/>
    </extension>

    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <editorContribution editorId="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aSessionEditor"
                            category="connectionEditor" label="%editor.session_manager.name"
                            icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png">
            <supports dataSource="gbase8a"/>
        </editorContribution>
    </extension>
    <!-- <extension point="org.jkiss.dbeaver.sql.executors">
         <executor class="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aScriptExecutor" datasource="gbase8a"/>
     </extension>-->
    <extension point="org.jkiss.dbeaver.dataSourceView">
        <view
                id="org.jkiss.dbeaver.ext.gbase8a.dataSourceWizardView"
                dataSource="gbase8a"
                targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.gbase8a.ui.views.GBase8aConnectionPage"
                icon="icons/gbase8a_icon.png">
        </view>
        <view
                id="org.jkiss.dbeaver.ext.gbase8a.dataSourceEditorView"
                dataSource="gbase8a"
                targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog"
                label="%dialog.connection.header"
                class="org.jkiss.dbeaver.ext.gbase8a.ui.views.GBase8aConnectionPage">
        </view>
    </extension>

    <extension point="org.jkiss.dbeaver.dataManager">
        <manager class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aEnumValueManager"
                 id="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aEnumValueManager">
            <supports dataSource="gbase8a" typeName="ENUM"/>
            <supports dataSource="gbase8a" typeName="SET"/>
        </manager>
    </extension>

    <extension point="org.eclipse.ui.editors">
        <editor
                name="%editor.session_manager.name"
                icon="platform:/plugin/org.jkiss.dbeaver.model/icons/tree/sessions.png"
                class="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aSessionEditor"
                id="org.jkiss.dbeaver.ext.gbase8a.ui.editors.GBase8aSessionEditor"
                contributorClass="org.jkiss.dbeaver.ui.editors.EditorSearchActionsContributor">
        </editor>
    </extension>

    <extension point="org.jkiss.dbeaver.tools">
        <tools>
            <toolGroup
                    id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                    label="Table Maintenance"
                    icon="#tools"/>
            <!-- <tool
                 description="%tools.exportDatabase.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aToolExport"
                 label="%tools.exportDatabase.label"
                 icon="#export"
                 singleton="false">
                 <task id="gbase8aDatabaseBackup"/>
             </tool>-->
            <!-- <tool
                 description="%tools.importDatabase.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aToolImport"
                 label="%tools.importDatabase.label"
                 icon="#import"
                 singleton="true">
                 <task id="gbase8aDatabaseRestore"/>
             </tool>-->
            <!-- <tool
                 description="%tools.executeScript.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aToolScript"
                 label="%tools.executeScript.label"
                 singleton="true">
                 <task id="gbase8aScriptExecute"/>
             </tool>-->
            <!-- <tool
                 description="%tools.analyzeTable.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance.GBase8aToolAnalyse"
                 group="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                 label="%tools.analyzeTable.label"
                 singleton="false">
                 <task id="gbase8aToolAnalyzeTable"/>
             </tool>-->
            <!-- <tool
                 description="%tools.checkTable.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance.GBase8aToolCheck"
                 group="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                 label="%tools.checkTable.label"
                 singleton="false">
                 <task id="gbase8aToolCheckTable"/>
             </tool>-->
            <!-- <tool
                 description="%tools.optimizeTable.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance.GBase8aToolOptimize"
                 group="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                 label="%tools.optimizeTable.label"
                 singleton="false">
                 <task id="gbase8aToolOptimizeTable"/>
             </tool>-->
            <!-- <tool
                 description="%tools.repairTable.description"
                 id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance.GBase8aToolRepair"
                 group="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                 label="%tools.repairTable.label"
                 singleton="false">
                 <task id="gbase8aToolRepairTable"/>
             </tool>-->
            <!--  <tool
                  description="%tools.truncateTable.description"
                  id="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance.GBase8aToolTruncate"
                  group="org.jkiss.dbeaver.ext.gbase8a.tools.maintenance"
                  label="%tools.truncateTable.label"
                  singleton="false">
                  <task id="gbase8aToolTruncateTable"/>
              </tool>-->
        </tools>
    </extension>

    <extension point="org.jkiss.dbeaver.ui.propertyConfigurator">
        <propertyConfigurator class="org.jkiss.dbeaver.ext.gbase8a.model.net.GBase8aSSLHandlerImpl"
                              uiClass="org.jkiss.dbeaver.ext.gbase8a.ui.views.GBase8aSSLConfigurator"/>
    </extension>

    <extension point="org.jkiss.dbeaver.task.ui">
        <!--  <configurator type="gbase8aDatabaseBackup" class="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aTaskConfigurator"/>
          <configurator type="gbase8aDatabaseRestore" class="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aTaskConfigurator"/>
          <configurator type="gbase8aScriptExecute" class="org.jkiss.dbeaver.ext.gbase8a.tools.GBase8aTaskConfigurator"/>-->
    </extension>

</plugin>
